language: node_js
node_js:
  - "5"
  - "5.1"
  - "4"
  - "4.2"
  - "4.1"
  - "4.0"
  - "0.12"
  - "0.11"
  - "iojs"

services:
  - redis-server

before_script:
    - redis-cli FLUSHDB

after_script:
    - redis-cli FLUSHDB
